@import "../../styles/variables.scss";

.RegisterPage {
  &__main {
    min-height: 100vh;
    padding: 20px;
    background-color: $white-main-bg;

    &-text {
      text-align: center;
    }

    &-link {
      color: $blue-color;
      font-weight: $fontBold;
    }
  }
}
